<!DOCTYPE html>
<html>
<head>
<style>
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
.active {
  background-color: #04AA6D;
}
</style>
</head>
<body>
  <div class="header">
  <ul>
        <li><a href="/pages/theory"> Theory and Methods </a></li>
        <li><a href="/pages/contact">Contact</a></li>
        <li><a href="/pages/tools">Tools</a></li>
        <li><a href="/pages/people">People</a></li>
	
	
  <li style="float:left"><a class="active" href="/index">ModellinQ<sup>TM</sup></a></li>
  </ul>
  </div>
</body>
</html>
